<mat-list>
    <h3 mat-subheader>Derparture</h3>
    <mat-list-item>
        <p mat-line> {{data.departureTime | date: 'y-M-d, H:mm:ss'}} </p>
        <p mat-line> {{data.departureCity}} </p>

    </mat-list-item>
    <mat-divider></mat-divider>

    <h3 mat-subheader>Arival</h3>
    <mat-list-item>
        <p mat-line> {{data.arivalTime | date: 'y-M-d, H:mm:ss'}} </p>
        <p mat-line> {{data.arivalCity}} </p>

    </mat-list-item>
    <mat-divider></mat-divider>

    <h3 mat-subheader>Status</h3>
    <mat-list-item>
        <p mat-line> {{data.status}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>

    <h3 mat-subheader>Flight number</h3>
    <mat-list-item>
        <p mat-line> {{data.airline.code}} {{data.flightNumber}} </p>
    </mat-list-item>
    <mat-divider></mat-divider>


    <h3 mat-subheader>Check in desk</h3>
    <mat-list-item>
        <!-- {{data.checkInDesk | json}} -->
        <p mat-line> {{data.checkInDesk[0]}}

            <ng-container *ngIf="data.checkInDesk.length > 1 ">
                - {{data.checkInDesk[data.checkInDesk.length-1]}}
            </ng-container>

        </p>
    </mat-list-item>
    <mat-divider></mat-divider>


    <h3 mat-subheader>Gate</h3>
    <mat-list-item>
        <p mat-line> {{data.gate[0]}}

            <ng-container *ngIf="data.gate.length > 1 ">
                - {{data.gate[data.gate.length-1]}}
            </ng-container>

        </p>
    </mat-list-item>
    <button mat-button (click)="onNoClick()">Close</button>
</mat-list>