.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-toolbar {
    background-color: #2f95c77a ;
    justify-content: center;
}

input {
    width: 40%;
    background-color: white;
    border-radius: 50px;
    padding-left: 20px;
}

.search:hover {
    color: white;
    cursor: pointer;
}

.mat-form-field-label-wrapper {
    margin-right: 20px;
}

.mat-table {
  overflow: auto;
  max-height: 900px;
  font-size: 16px;
  color: #003145;
  font-weight: 600;
}

mat-cell:last-of-type {
    justify-content: flex-end;
    cursor: pointer;
}

.mat-row {
    border-bottom-width: 3px;
    border-bottom-color: #2f95c77a;
    border-radius: 5px;


}

.mat-row:hover {
    background-color: #80808052;
}

.flight-data {
  display: flex;
  flex-direction: column;
}

.flight-number {
    padding-top: 5px;
  font-weight: 300;
}
