<div class="container mat-elevation-z8" *ngIf="!error">

    <mat-toolbar>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder=" Filter">
        <i class="material-icons search"> search </i>
    </mat-toolbar>




    <mat-table #table [dataSource]="dataSource" *ngIf="dataSource">

        <ng-container matColumnDef="time">
            <mat-header-cell *matHeaderCellDef> Departure Time </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.departureTime | date:'HH:mm'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="destination">
            <mat-header-cell *matHeaderCellDef> Destination </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <div class="flight-data">
                    {{element.arivalCity}} ({{element.route[1]}})
                    <span class="flight-number"> {{element.airline.code}} {{element.flightNumber}} </span>
                </div>

            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element" (click)="openDialog(element)"> Details <i class="material-icons">
                    arrow_right_alt </i> </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="15" [pageSizeOptions]="[15, 25, 35]">
    </mat-paginator>
</div>

<div *ngIf="error">

    <span [innerHTML]="error"></span>
</div>